<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add User</title>
</head>
<body>
<div>
    <h1>Add User</h1>
    <hr>
    <h2>Enter data</h2>

    <form action="#" th:action="@{/admin/create_user}" th:object="${newcomer}" method="POST">
        <input type="text" th:field="*{name}" placeholder="Name">
        <input type="text" th:field="*{lastname}" placeholder="Last Name">
        <input type="password" th:field="*{password}" placeholder="Password">
        <input type="text" th:field="*{age}" placeholder="Age">
        <input type="text" th:field="*{email}" placeholder="E-mail">
        <select multiple size="2"
                th:field="*{roles}" required>
            <option
                    th:each="role:${rolesList}"
                    th:value="${role.getId()}"
                    th:text="${role.toString()}">
<!--                    th:selected="${newcomer.getRoles().contains(role)}"-->
<!--                    th:text="${role.toString()}">-->
            </option>
        </select>
        <button type="submit">Create User</button>

    </form>

    <hr>

    <h3><a th:href="@{/admin/}"> Back to Users List</a></h3>

    <h3><a th:href="@{/logout}">Logout</a></h3>
</div>
</body>
</html>